{% extends "sb/base.html" %}

{% block sbContent %}

    <h1>Document list</h1>

    <p class="info">Click headers to sort.</p>

    <table class="frame sortable">
        <thead>
            <tr>
                <th>Doc</th>
                <th>First transaction</th>
                <th>Last transaction</th>
                <th>Tranaction count</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {% for d in docs %}
                <tr>
                    <td>{{d.href|safe}}</td>
                    <td>{{d.min_date.isoformat}}</td>
                    <td>{{d.max_date.isoformat}}</td>
                    <td>{{d.transaction_count}}</td>
                    <td>{{d.comments}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
