{% load humanize %}

<h2>{{account}}: {{account.period_balance}}</h2>

<table class="frame">
    <thead>
        <tr>
            <th>Date</th>
            <th>Account</th>
            <th>Doc</th>
            <th>Ammount</th>
            <th></th>
            <th>Date</th>
            <th>Account</th>
            <th>Doc</th>
            <th>Ammount</th>
        </tr>
    </thead>
    <tbody>
        {% for t in account.period_transactions %}
            <tr>
                {% if t.debitAccount = account %}
                    <td>{{t.date_href|safe}}</td>
                    <td>{{t.creditAccount.href|safe}}</td>
                    <td>{{t.sourceDocument.href|safe}}</td>
                    <td class="currency">{{t.amount|floatformat:2|intcomma}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{t.date_href|safe}}</td>
                    <td>{{t.debitAccount.href|safe}}</td>
                    <td>{{t.sourceDocument.href|safe}}</td>
                    <td class="currency">{{t.amount|floatformat:2|intcomma}}</td>
                {% endif %}
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="currency">{{account.period_dt_sum|floatformat:2|intcomma}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="currency">{{account.period_ct_sum|floatformat:2|intcomma}}</td>
        </tr>
    </tbody>
</table>
