{% extends "sb/base.html" %}
{% block sbContent %}
    <h2>{{doc}}</h2>
    {% if doc.electronicCopy %}
        <p><a href="{{doc.electronicCopy.url}}">Download File</a></p>
    {% endif %}
    {% if doc.invoice %}
        <p><a href="{% url view-invoice invoice_nr=doc.number %}">View invoice in browser</a></p>
        <p><a href="/pdf{% url view-invoice invoice_nr=doc.number %}">Download PDF</a></p>
        <p><a href="{% url regen-invoice invoice_nr=doc.number %}">Regenerate invoice</a></p>
    {% endif %}
    <p>
        <a href="{{doc.edit_url}}">Edit</a>
    </p>
    <p>
    {{doc.comments}}
    </p>
    {% include 'sb/transaction_table.html' with transactions=doc.transactions.all no_doc="True" %}
    <p>Cost centre transactions:</p>
    {% include 'sb/transaction_table.html' with transactions=doc.cc_transactions.all no_doc="True" %}
{% endblock %}
