{% extends "sb/base.html" %}

{% block sbHead %}
	{{block.super}}
	<script type='text/javascript'>
		function calcVAT(EventObject){
			$(this).parent().next().children('input').val((Number($(this).val())*0.14).toFixed(2));
		}
		$(document).ready(function() {
			$('td.lineItemAmount input').change(calcVAT);
			$('input#newLineItemTrigger').click(function(EventObject) {
				var newLineItem = $(this).parent().parent().prev().clone();
				var L = newLineItem.children("td").children();
				for (var i = 0; i < L.length; i++) {
					m = L[i].id.match(/(id_form-)(\d+)(.*)/);
					L[i].id = m[1]+(Number(m[2])+1).toFixed(0)+m[3]
					L[i].value = "";
					m = L[i].name.match(/(form-)(\d+)(.*)/);
					L[i].name = m[1]+(Number(m[2])+1).toFixed(0)+m[3]
				}
				$(this).parent().parent().prev().after(newLineItem);
				newLineItem.children("td.lineItemAmount").children().change(calcVAT);
				var C = $("input#id_form-TOTAL_FORMS");
				C.val((Number(C.val())+1).toFixed(0));
				newLineItem.children("td:first-child").children("input:nth-child(2)").focus();
			});
		});
	</script>
{% endblock %}

{% block sbContent %}
    <h1>Sending new invoice</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <h2>General</h2>
        <table class='form-table'>
            {{form}}
        </table>
        <h2>Line items</h2>
        <p class="help-text">
            Please try to keep invoices to a reasonable amount of line items as it may not fit on one page if there are too many.
        </p>

        {{lineforms.management_form}}
        <table>
            <tr><th>Description</th><th>Amount</th><th>Vat</th></tr>
            {% for f in lineforms %}
                <tr>
                    <td>{{f.id}}{{f.description}}</td><td class='lineItemAmount'>{{f.amount}}</td><td class='lineItemVAT'>{{f.vat}}</td>
                </tr>
            {% endfor %}
			<tr><td colspan=3 style='text-align: center;'><input id='newLineItemTrigger' type='button' value='Add another line'/></td></tr>
        </table>

        <input type=submit value="Submit"/>
    </form>

{% endblock %}
