{% load humanize %}
<table class='statement-table'>
    <tr>
        <th>Our reference</th>
        <th>Date</th>
        <th>Description</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Balance</th>
    </tr>
    {% for t in statement.transactions %}
        <tr>
            <td>{{t.reference}}</td>
            <td>{{t.date}}</td>
            <td>{{t.description}}</td>
            <td class="currency">{{t.debit|floatformat:2|intcomma}}</td>
            <td class="currency">{{t.credit|floatformat:2|intcomma}}</td>
            <td class="currency">{{t.balance|floatformat:2|intcomma}}</td>
        </tr>
    {% endfor %}
</table>
