{% extends "sb/base.html" %}

{% block sbContent %}

    <h1>Transaction list</h1>
    This view shows all transactions that fall within the given period.
    
    <h2>Filter results:</h2> 
    <form>
        <h3>Dates shown:</h3>
        <table class="form-table">
            {{dateform.as_table}}
        </table>
        <h3>Accounts:</h3>
        <p class="help-text">
            Transactions matching either the debit and credit condition will be shown. Where no debit or credit accounts are selected, transactions will not be filtered based on that account.
        </p>
        <table class="form-table">
            {{accountform.as_table}}
        </table>
        <input type="submit" value="Filter"/>
    </form>

    <h3>
        <a href='{% url extract dataType='transactions' %}?begin={{begin|default:''}}&end={{end|default:''}}'>Click to Download currently displayed transactions in CSV format</a>
        <p>
            (This function is not complete and will not apply the account filters, only the date filters)
        </p>
    </h3>

    {% include 'sb/transaction_table.html' with transactions=transactions.all total=total %}

{% endblock %}

