{% extends "sb/app_site_glue.html" %}

{% block mainContent %}

    <h2>Accounts summary</h2>
    {% include "sb/datefilter.html" with datefilter=datefilter %}
    <table class="frame">
        <thead>
            <tr>
                <th>Account</th>
                <th>Dt Total</th>
                <th>Ct Total</th>
                <th>Balance (dt positive)</th>
            </tr>
        </thead>
        <tbody>
            {% for group in account_groups %}
            <tr><th colspan="4">{{group.cat}}</th></tr>
                {% include "sb/trial_balance_base.html" with accounts=group.accounts %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
