{% extends "sb/base.html" %}

{% block sbContent %}

    {% load humanize %}
    <h1>Accounts summary</h1>
    {% include "sb/datefilter.html" with datefilter=datefilter %}
    <h3>
        <a href='{% url extract dataType='trial balance' %}?begin={{begin|default:''}}&end={{end|default:''}}'>Click to Download in CSV format</a>
    </h3>
    <table class="frame">
        <thead>
            <tr>
                <th>Account</th>
                <th>Dt Total</th>
                <th>Ct Total</th>
                <th>Balance (dt positive)</th>
            </tr>
        </thead>
        <tbody>
            {% for group in account_groups %}
            <tr><th colspan="3">{{group.cat}}</th><th>{{group.total|floatformat:2|intcomma}}</tr>
                {% include "sb/trial_balance_base.html" with accounts=group.accounts %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
