<ul class='appMenu nav navbar-nav'>
	<li class='dropdown'>
		<a href='#' class="dropdown-toggle" data-toggle="dropdown" >Sumaries<span class="caret"></span></a>
        <ul class='dropdown-menu'>
            <li><a href='{% url 'trialbalance' %}'>Trial balance</a></li>
            <li><a href='{% url 'income-statement' %}'>Income statement</a></li>
            <li><a href='{% url 'client-statement-view' %}'>Client statements</a></li>
        </ul>
    </li>
    <li class='dropdown'>
		<a href='#' class="dropdown-toggle" data-toggle="dropdown" >Lists<span class="caret"></span></a>
        <ul class='dropdown-menu'>
            <li><a href='{% url 'transaction-list' %}'>Transactions</a></li>
            <li><a href='{% url 'doc-list' %}'>Source_Documents</a></li>
            <li><a href='{% url 'claim-list' %}'>Expense Claims</a></li>
        </ul>
    </li>
    <li class='dropdown'>
		<a href='#' class="dropdown-toggle" data-toggle="dropdown" >New transaction<span class="caret"></span></a>
        <ul class='dropdown-menu'>
            <li><a href='{% url 'document-new' %}'>Add generic doc</a></li>
            <li><a href='{% url 'add-payslip' %}'>Add payslip</a></li>
            <li><a href='{% url 'send-invoice' %}'>Send invoice</a></li>
            <li><a href='{% url 'get-invoice' %}'>Get invoice</a></li>
            <li><a href='{% url 'apply-interest' %}'>Apply Interest</a></li>
            <li><a href='{% url 'claim-new' %}'>Claim Expense</a></li>
            <li><a href='{% url 'series-new' %}'>Add transaction series</a></li>
        </ul>
    </li>
    <li class='dropdown'>
		<a href='#' class="dropdown-toggle" data-toggle="dropdown" >Charts<span class="caret"></span></a>
        <ul class='dropdown-menu'>
            <li><a href='{% url 'chart-expense' %}'>Expense chart</a></li>
        </ul>
    </li>
</ul>
