{% extends "sb/base.html" %}

{% load bootstrap3 %}

{% block sbHead %}
	{{block.super}}
	<script type='text/javascript'>
		$(document).ready(function() {
			$('td.lineItemAmount input').on('keydown', calcVAT);
			$('#newLineItemTrigger').click(function(EventObject) {
				var last_row = $('tr.lineform-tr').last();
				var newLineItem = last_row.clone();
				var L = newLineItem.children("td").children();
				for (var i = 0; i < L.length; i++) {
					var m = L[i].id.match(/(id_form-)(\d+)(.*)/);
					L[i].id = m[1]+(Number(m[2])+1).toFixed(0)+m[3];
					L[i].value = "";
					m = L[i].name.match(/(form-)(\d+)(.*)/);
					L[i].name = m[1]+(Number(m[2])+1).toFixed(0)+m[3];
				}
				last_row.after(newLineItem);
				newLineItem.children("td.lineItemAmount").children().change(calcVAT);
				var C = $("input#id_form-TOTAL_FORMS");
				C.val((Number(C.val())+1).toFixed(0));
				newLineItem.children("td:first-child").children("input:nth-child(2)").focus();
			});
		});
	</script>
{% endblock %}

{% block sbContent %}
    <h1>Sending new invoice</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <h2>General</h2>
            {% bootstrap_form form %}
        <h2>Line items</h2>
        <p class="help-text">
            Please try to keep invoices to a reasonable amount of line items as it may not fit on one page if there are too many.
        </p>

        {{lineforms.management_form}}
        <table class='table lineform-table'>
            <tr><th>Description</th><th>Amount</th><th>Vat</th></tr>
            {% for f in lineforms %}
                <tr class='lineform-tr'>
                    <td>{{f.id}}{{f.description}}</td><td class='lineItemAmount'>{{f.amount}}</td><td class='lineItemVAT'>{{f.vat}}</td>
                </tr>
            {% endfor %}
        </table>
		{% buttons %}
			<button class="btn btn-success" id='newLineItemTrigger' type='button'>
				{% bootstrap_icon "plus" %} Add
			</button>
		{% endbuttons %}

		{% buttons %}
			<button class="btn btn-primary" type='submit'>
				{% bootstrap_icon "ok" %} Submit
			</button>
		{% endbuttons %}
    </form>

{% endblock %}
