{% extends "sb/base.html" %}

{% load bootstrap3 %}

{% block sbHead %}
	{{block.super}}
	<script type='text/javascript'>
		$(document).ready(function() {
			$('button.add-form-button').click(
				function(eventObject) {
					var formset_div = $(this).parent().parent();
					var prefix = formset_div.attr('formprefix');
					var last_form = formset_div.find('.formset-form').last();
					var initial_count = formset_div.find('.formset-form').length;
					console.log(initial_count);
					var new_form = last_form.clone();
					var new_count = initial_count +1;
					var input_elements = new_form.find('input, select');
					for (var i = 0; i < input_elements.length; i++) {
						input_elements[i].id = input_elements[i].id.replace(/\d+/g, new_count-1);
						input_elements[i].name = input_elements[i].name.replace(/\d+/g, new_count-1);
						input_elements[i].value = '';
					}
					last_form.after(new_form);
					$('#id_' + prefix + '-TOTAL_FORMS').val(new_count);
				}
			);

		});
	</script>
	{{seriesForm.media}}
{% endblock %}

{% block sbContent %}
    <h1>Creating new transaction series</h2>
    <form action="" method="POST">
        {% csrf_token %}

		{% if has_preview_data %}
			<h2>Transaction preview</h2>
			<table class='table'>
				<thead>
					<tr>
						<th>Date</th>
						<th>Debit account</th>
						<th>Credit account</th>
						<th>Amount</th>
						<th>Type</th>
					</tr>
				</thead>
				<tbody>
					{% for t in transactions %}
						<tr>
							<td>{{t.date}}</td>
							<td>{{t.debitAccount}}</td>
							<td>{{t.creditAccount}}</td>
							<td>{{t.amount}}</td>
							<td>{{t.transactionType}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
        
		<h2>Transaction Series</h2>
		{% bootstrap_form seriesForm %}
		
		<h2>Transactions blueprints</h2>
		<div formprefix='tbp'>
			{{tbpfs.management_form}}
			{% for f in tbpfs %}
				<div class='formset-form'>
					{% bootstrap_form f layout='horizontal' %}
				</div>
			{% endfor %}
			{% buttons %}
				<button class="btn btn-success add-form-button" type='button'>
					{% bootstrap_icon "plus" %} Add
				</button>
			{% endbuttons %}
		</div>
		{% buttons %}
			<button class="btn btn-primary" type='submit'>
				{% bootstrap_icon "ok" %} Preview
			</button>
		{% endbuttons %}
		{% if has_preview_data %}
			{% buttons %}
				<button class="btn btn-primary" type='submit' name='create_series'>
					{% bootstrap_icon "ok" %} Create
				</button>
			{% endbuttons %}
		{% endif %}



	</form>



{% endblock %}
